{% extends 'base.html' %}


{% block main_content %}

<div class="container">
    {% include 'students/filters.html' %}
    <div class="row">
        <div class="col-sm-12 mt-2">
            <figure class="highcharts-figure">
                <div id="chart"></div>
            </figure>
        </div>
    </div>
</div>

<script>

    var filter_form = $("#filter_form")
    var chart_obj = null;
    var filter_endpoint = "/students/charts/subject-marks/data"

    init_chart()

    function init_chart() {

        $.get(filter_endpoint).done(function (data) {
            chart_obj = Highcharts.chart('chart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Student marks for each Subject'
                },
                xAxis: {
                    categories: data.subjects,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Marks (0 - 100)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Subjects',
                    data: data.data
                },
                {
                    name: 'Avarage',
                    type: 'spline',
                    data: data.avg,
                }]
            });

        })

    }

    filter_form.find("select").change(function(){
        if (chart_obj == null) return false

        var select_box = $(this)
        var select_value = select_box.val()
        var query_parms = filter_form.serialize()

        var endpoint = filter_endpoint + "?" + query_parms

        $.get(endpoint).done(function(data){
            chart_obj.series[0].setData(data.data)
            chart_obj.series[1].setData(data.avg)
        })
        console.log("select_value", select_value)
    })




</script>

{% endblock main_content %}