{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Marks Charts</title>
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}" />
    <script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/highchart/highchart.min.js' %}"></script>
</head>
<body>
    {% include 'layouts/header.html' %}

    {% block main_content %}{% endblock main_content %}
</body>
</html>